In [1]:
import pandas as pd

In [10]:
df = pd.read_excel('WEOOct2020all.xls', engine='xlrd')

In [26]:
gdp_df = df[(df['Subject Descriptor'].str.contains('Gross domestic product per capita', case=False, na=False)) & (df['Units'].str.match('U.S. dollars', case=False, na=False)) & (df['Scale'].str.match('Units', case=False, na=False))]

In [64]:
%store gdp_df

Stored 'gdp_df' (DataFrame)

In [63]:
from datetime import datetime
current_year = datetime.now().year
columns_to_keep = ['Country'] + [year for year in range(current_year - 10, current_year + 1)]
decade_gdp_df = gdp_df[columns_to_keep].copy()
%store decade_gdp_df

Stored 'decade_gdp_df' (DataFrame)

In [61]:
decade_gdp_df['Difference'] = decade_gdp_df[2023] - decade_gdp_df[2013]
top_10_gdp = decade_gdp_df.sort_values(by='Difference', ascending=False).head(10)

In [62]:
top_10_gdp.head(10)

,Country,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,Difference
3609,Ireland,51446.096,55513.262,61850.638,62710,69869.541,79133.165,80504.404,79668.502,90478.082,96391.21,101923.034,50476.938
4509,Luxembourg,114996.722,120449.741,102624.93,105364.028,108621.75,117859.718,115838.771,109602.322,125922.643,131701.045,136245.999,21249.277
8334,United States,53071.818,55024.658,56848.51,58017.227,60105.846,63055.979,65253.518,63051.398,66144.141,69004.241,71537.726,18465.908
3294,Hong Kong SAR,38233.352,40185.303,42325.352,43491.305,46032.29,48313.86,48626.576,45175.727,47989.615,50849.553,53191.251,14957.899
4824,Malta,24972.679,27080.097,25228.175,25891.093,28551.657,31023.596,30374.217,28468.65,32099.281,34349.213,36372.079,11399.4
3159,Guyana,5476.744,5402.703,5579.974,5796.819,6104.158,6120.536,6594.375,8648.546,9912.697,13268.001,16641.024,11164.28
7524,Switzerland,85672.856,87157.835,82513.631,80628.389,80764.915,83158.267,82483.925,81867.462,90357.8,94004.038,96480.205,10807.349
2439,Estonia,19179.836,20387.086,17531.057,18444.686,20451.243,23181.22,23757.617,22985.858,26377.577,28245.303,29871.398,10691.562
2844,Germany,46299.227,48035.95,41107.222,42124.324,44537.098,47832.063,46472.623,45466.116,51967.326,54875.569,56966.915,10667.688
5499,Netherlands,52276.986,53026.478,45302.804,46165.177,48799.874,53224.694,52646.193,51289.571,58029.3,60538.574,62735.614,10458.628